.outline-none {
    outline: none;
}

.z-21 {
    z-index: 21;
}

.z-22 {
    z-index: 22;
}

.z-23 {
    z-index: 23;
}

.z-24 {
    z-index: 24;
}

.fs-xx-small {
    font-size: xx-small;
}

.fs-x-small {
    font-size: x-small;
}

.fs-small {
    font-size: small;
}

.fs-smaller {
    font-size: smaller;
}

.fs-medium {
    font-size: medium;
}

.fs-large {
    font-size: large;
}

.fs-larger {
    font-size: larger;
}

.fs-x-large {
    font-size: x-large;
}

.fs-xx-large {
    font-size: xx-large;
}

.pointer {
    cursor: pointer;
}

.pointer-events-none {
    pointer-events: none;
}

.icon {
    background-size: contain;
}

.min-width-0 {
    min-width: 0;
}

.rotate-90 {
    transform: rotate(90deg);
}

.user-select-none {
    user-select: "none";
}
